Pandas Refers to "Panel Data" or "Python Data Analysis"

In [1]:
import pandas as pd

1- Series: (Column-like, One - Dimentional)

In [2]:
x = [1, 2, 3]
data = pd.Series(x)
print(data)

0    1
1    2
2    3
dtype: int64

In [3]:
print(data[1])

2

In [4]:
data = pd.Series(x, index = ["x", "y", "z"])
print(data)

x    1
y    2
z    3
dtype: int64

In [5]:
print(data["y"])

2

In [6]:
dict = {"val1" : 10, "val2" : 20, "val3" : 30, "val4" : 40}
data = pd.Series(dict)
print(data)
print(data["val2"])

val1    10
val2    20
val3    30
val4    40
dtype: int64
20

In [7]:
data = pd.Series(dict,index = ["val3", "val4"])
print(data)

val3    30
val4    40
dtype: int64

2- Data Frames (table with rows and columns, 2 - Dimentional)

In [8]:
dict = {"negative": [-10, -20, -30, -40],
        "Positive" : [50, 60, 70, 80]}
data = pd.DataFrame(dict)
print(data)

   negative  Positive
0       -10        50
1       -20        60
2       -30        70
3       -40        80

In [9]:
print(data.loc[[0,2]])

   negative  Positive
0       -10        50
2       -30        70

In [10]:
data = pd.DataFrame(dict, index = ["val1", "val2", "val3", "val4"])
print(data)
print(data.loc[["val1", "val4"]])

      negative  Positive
val1       -10        50
val2       -20        60
val3       -30        70
val4       -40        80
      negative  Positive
val1       -10        50
val4       -40        80

CSV AND JSON DATA LOADING

In [14]:
data = pd.read_csv("messy_data.csv")
print(data.to_string())

   ID     Name     Age    Salary Joining_Date Department
0   1    Alice      25   50000.0   2020-01-15         HR
1   2      Bob  thirty   60000.0   2019-06-23         IT
2   3  Charlie      22       NaN   2018/07/01    Finance
3   4      NaN      27   70000.0   2017-08-19         HR
4   5      Eve     NaN   80000.0          NaN         IT
5   6    Frank      29       NaN   2021-09-12    Finance
6   7    Grace      31   90000.0   2022-11-25         HR
7   7    Grace      31   90000.0   2022-11-25        NaN
8   9      Ivy      40       NaN  InvalidDate         IT
9  10     Jack     NaN  100000.0   2023-04-30    Finance

In [15]:
jsonData = pd.read_json("messy_data.json")
print(jsonData)

   ID     Name     Age  Salary Joining_Date Department
0   1    Alice      25   50000   2020-01-15         HR
1   2      Bob  thirty   60000   2019-06-23         IT
2   3  Charlie      22    None   2018/07/01    Finance
3   4     None      27   70000   2017-08-19         HR
4   5      Eve           80000         None         IT
5   6    Frank      29     N/A   2021-09-12    Finance
6   7    Grace      31   90000   2022-11-25         HR
7   7    Grace      31   90000   2022-11-25       None
8   9      Ivy      40     NaN  InvalidDate         IT
9  10     Jack    None  100000   2023-04-30    Finance

In [16]:
print("CSV Data")
print(data.head(7))
print("Json Data")
print(jsonData.head(6))

CSV Data
   ID     Name     Age   Salary Joining_Date Department
0   1    Alice      25  50000.0   2020-01-15         HR
1   2      Bob  thirty  60000.0   2019-06-23         IT
2   3  Charlie      22      NaN   2018/07/01    Finance
3   4      NaN      27  70000.0   2017-08-19         HR
4   5      Eve     NaN  80000.0          NaN         IT
5   6    Frank      29      NaN   2021-09-12    Finance
6   7    Grace      31  90000.0   2022-11-25         HR
Json Data
   ID     Name     Age Salary Joining_Date Department
0   1    Alice      25  50000   2020-01-15         HR
1   2      Bob  thirty  60000   2019-06-23         IT
2   3  Charlie      22   None   2018/07/01    Finance
3   4     None      27  70000   2017-08-19         HR
4   5      Eve          80000         None         IT
5   6    Frank      29    N/A   2021-09-12    Finance

In [17]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            10 non-null     int64
 1   Name          9 non-null      object
 2   Age           8 non-null      object
 3   Salary        7 non-null      float64
 4   Joining_Date  9 non-null      object
 5   Department    9 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 612.0+ bytes
None

CLEANING DATA
(I)   Empty cells
(II)  Wrong Data
(III) Duplicates
(IV)  Wrong Format

(I)  Empty Cells (Either Remove the rows or just fill in some data)

In [18]:
df = data.dropna()
print(df)

   ID   Name     Age   Salary Joining_Date Department
0   1  Alice      25  50000.0   2020-01-15         HR
1   2    Bob  thirty  60000.0   2019-06-23         IT
6   7  Grace      31  90000.0   2022-11-25         HR

In [20]:
data.fillna({'Name':'Unknown User'},inplace = True)
print(data)

   ID          Name     Age    Salary Joining_Date Department
0   1         Alice      25   50000.0   2020-01-15         HR
1   2           Bob  thirty   60000.0   2019-06-23         IT
2   3       Charlie      22       NaN   2018/07/01    Finance
3   4  Unknown User      27   70000.0   2017-08-19         HR
4   5           Eve     NaN   80000.0          NaN         IT
5   6         Frank      29       NaN   2021-09-12    Finance
6   7         Grace      31   90000.0   2022-11-25         HR
7   7         Grace      31   90000.0   2022-11-25        NaN
8   9           Ivy      40       NaN  InvalidDate         IT
9  10          Jack     NaN  100000.0   2023-04-30    Finance

In [26]:
x = data['Salary'].mean()
data.fillna({'Salary':x},inplace = True)
print(data)

   ID          Name     Age         Salary Joining_Date Department
0   1         Alice      25   50000.000000   2020-01-15         HR
1   2           Bob  thirty   60000.000000   2019-06-23         IT
2   3       Charlie      22   77142.857143   2018/07/01    Finance
3   4  Unknown User      27   70000.000000   2017-08-19         HR
4   5           Eve     NaN   80000.000000          NaN         IT
5   6         Frank      29   77142.857143   2021-09-12    Finance
6   7         Grace      31   90000.000000   2022-11-25         HR
7   7         Grace      31   90000.000000   2022-11-25        NaN
8   9           Ivy      40   77142.857143  InvalidDate         IT
9  10          Jack     NaN  100000.000000   2023-04-30    Finance

In [28]:
data['Joining_Date'] = pd.to_datetime(data['Joining_Date'], errors='coerce')
print(data)

   ID          Name     Age         Salary Joining_Date Department
0   1         Alice      25   50000.000000   2020-01-15         HR
1   2           Bob  thirty   60000.000000   2019-06-23         IT
2   3       Charlie      22   77142.857143          NaT    Finance
3   4  Unknown User      27   70000.000000   2017-08-19         HR
4   5           Eve     NaN   80000.000000          NaT         IT
5   6         Frank      29   77142.857143   2021-09-12    Finance
6   7         Grace      31   90000.000000   2022-11-25         HR
7   7         Grace      31   90000.000000   2022-11-25        NaN
8   9           Ivy      40   77142.857143          NaT         IT
9  10          Jack     NaN  100000.000000   2023-04-30    Finance

In [37]:
words = {'thirty': 30}
data['Age'] = data['Age'].replace(words)

data['Age'] = pd.to_numeric(data['Age'], errors='coerce')
x = data['Age'].mean()
print(x)
data.fillna({'Age':int(x)}, inplace=True)
print(data)

23.5
   ID          Name  Age         Salary Joining_Date Department
0   1         Alice   25   50000.000000   2020-01-15         HR
1   2           Bob   30   60000.000000   2019-06-23         IT
2   3       Charlie   22   77142.857143          NaT    Finance
3   4  Unknown User   27   70000.000000   2017-08-19         HR
4   5           Eve    0   80000.000000          NaT         IT
5   6         Frank   29   77142.857143   2021-09-12    Finance
6   7         Grace   31   90000.000000   2022-11-25         HR
7   7         Grace   31   90000.000000   2022-11-25        NaN
8   9           Ivy   40   77142.857143          NaT         IT
9  10          Jack    0  100000.000000   2023-04-30    Finance

In [38]:
data.drop_duplicates(inplace = True)
print(data)

   ID          Name  Age         Salary Joining_Date Department
0   1         Alice   25   50000.000000   2020-01-15         HR
1   2           Bob   30   60000.000000   2019-06-23         IT
2   3       Charlie   22   77142.857143          NaT    Finance
3   4  Unknown User   27   70000.000000   2017-08-19         HR
4   5           Eve    0   80000.000000          NaT         IT
5   6         Frank   29   77142.857143   2021-09-12    Finance
6   7         Grace   31   90000.000000   2022-11-25         HR
7   7         Grace   31   90000.000000   2022-11-25        NaN
8   9           Ivy   40   77142.857143          NaT         IT
9  10          Jack    0  100000.000000   2023-04-30    Finance

In [39]:
data.corr()

ValueError: could not convert string to float: 'Alice'